.miming-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/miming-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.miming-menu-title {
  font-size: 35px;
  font-weight: bolder;
  color: #dcb00b;
  margin-left: 15px;
  margin-right: 15px;
}

.dapp-content {
  padding: 50px;
}

.p-menubar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content {
  background: transparent !important;
}

:host ::ng-deep .p-menubar-button,
.p-menubar-button:hover {
  color: white !important;
  background: transparent !important;
}

.glass-form {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(1px);
  border-radius: 12px;
}

.wallet-option {
  border: 2px solid transparent;
  background: var(--surface-card);
}

.wallet-option:hover {
  background: #eeeeee;
}

.wallet-selected,
.wallet-selected:hover {
  background: #a5326b;
  color: white;
}
