:host {
  display: block;
  height: 100vh;

  --sidebar-bg-image: url('/images/backgrounds/miming-bg.png');
}

::ng-deep .p-drawer-header {
  display: none !important;
  padding: 0 !important;
}

::ng-deep .p-drawer-content {
  padding: 0 !important;
}
