/* Nunito - ExtraLight (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Nunito - ExtraLight Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Nunito - Light (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Nunito - Light Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Nunito - Regular (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Nunito - Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Nunito - Medium (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Nunito - Medium Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Nunito - SemiBold (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Nunito - SemiBold Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Nunito - Bold (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Nunito - Bold Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Nunito - Black (Normal) */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Nunito - Black Italic */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
