/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "./poppins.css";

@import "primeicons/primeicons.css";

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
